@mixin theme($bg, $hover-bg, $color) {
  ._btn-auth-options {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: calc(1.5rem);
    border-radius: $_radii-lg;
    height: calc(2.5rem);
    font-size: $_sizes-4;
    width: 85%;
    font-weight: 300;
    padding-inline: calc(1.125rem);
    padding-top: $_space-6;
    padding-bottom: $_space-6;
    background-color: $bg;
    -webkit-box-pack: start;
    justify-content: flex-start;
    color: $color;
  }
  ._btn-auth-options:hover {
    background-color: $hover-bg;
  }
}