@mixin typography($color, $size, $weight, $line-height) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  transition-property: $_transition-property-common;
  transition-duration: $_transition-duration-normal;
}