@mixin authContainer($mode) {
  .auth-container {
    //padding: $_space-12;
    height: 100vh !important;
    overflow: hidden;

    .auth-wrapper {
      border-radius: 20px;
      overflow: hidden;
      box-shadow: if(isDarkMode($mode), 0 0 10px 6px  rgba(255,255,255,0.1), 0 0 10px 6px  rgba(0,0,0,0.1));
      height: 89%;
      margin: 3%;

      .auth-form {
        padding: $_space-8 $_space-12;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: if(isDarkMode($mode), $gray-900, $gray-100);

        .header {
          .header-logo {
            margin-bottom: $_space-3;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 55px;
              height: 55px;
            }
          }
        }
      }

      .auth-images {
        background-size: cover;
        background-repeat: no-repeat;
        backdrop-filter: blur(7px);
        height: 90vh !important;

        .translateY {
          @include slideshow-styles;
        }
      }
    }

    .link {
      color: $slate-blue-500;
      font-size: $_fontSizes-md;
      cursor: pointer;
    }
  }

  @include media-breakpoint-down(lg) {
    .auth-container {
      padding: $_space-8;

      .auth-wrapper {

        .auth-form {
          padding: $_space-8;

          .header {
            .header-logo {
              margin-bottom: $_space-4;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .auth-container {
      padding: $_space-8;

      .auth-wrapper {

        .auth-form {
          padding: $_space-8;

          .header {
            .header-logo {
              margin-bottom: $_space-4;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .auth-container {
      padding: 0 !important;

      .auth-wrapper {
        border-radius: 0 !important;
        height: 96%;
        .auth-form {
          padding: $_space-4 $_space-8 !important;

          .header {
            .header-logo {
              margin-bottom: $_space-2;

              img {
                width: 45px;
                height: 45px;
              }
            }
          }
        }
      }

      .link {
        color: $slate-blue-500;
        font-size: $_fontSizes-xs;
        cursor: pointer;
      }
    }
  }

}


//$grid-breakpoints: (
//        xs: 0,
//        sm: 576px,
//        md: 768px,
//        lg: 992px,
//        xl: 1200px,
//        xxl: 1400px
//);


@keyframes moveSlideshow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4097px); /* The image height */
  }
}

@mixin slideshow-styles {
  background-size: contain;
  //min-height: 100vh !important;
  background-repeat-x: no-repeat;
  background-repeat-y: repeat;
  animation: moveSlideshow 200s linear infinite;
  height: 5000px;
}