@mixin authContainer($mode) {
  .auth-container {
    height: 100vh;
    overflow: hidden;
    padding: 3rem;
    display: flex;
    justify-content: center;

    .auth-wrapper {
      overflow: hidden;
      box-shadow: 1px 1px 30px 10px rgba(0,0,0,0.13);
      -webkit-box-shadow: 1px 1px 30px 10px rgba(0,0,0,0.13);
      -moz-box-shadow: 1px 1px 30px 10px rgba(0,0,0,0.13);
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: row;
      border-radius: 12px;

      .auth-form {
        max-width: 24rem;
        padding: $_space-6 $_space-8;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

        .header {
          .header-logo {
            margin-bottom: $_space-3;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 55px;
              height: 55px;
            }
          }
        }
      }

      .auth-images {
        //background-image: url(https://app.leonardo.ai/img/login-hero-images/ExplosionFighting.webp);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: var(--leonardo-ai-sizes-full);
        align-items: flex-end;
        display: inline-flex;
        justify-content: center;
        flex-grow: 1;

      }
    }

    .link {
      color: $slate-blue-500;
      font-size: $_fontSizes-sm;
      cursor: pointer;
    }
  }

  @include media-breakpoint-down(sm) {
    .auth-container {
      padding: 1rem 0 !important;

      .auth-wrapper {
        border-radius: 1rem !important;
        height: 100%;
        width: 320px;
        .auth-form {
          padding: $_space-4 $_space-8 !important;
          height: 100%;

          .header {
            .header-logo {
              margin-bottom: $_space-2;

              img {
                width: 45px;
                height: 45px;
              }
            }
          }
        }

        .auth-images {
          height: 0;
        }
      }

      .link {
        color: $slate-blue-500;
        font-size: $_fontSizes-xs;
        cursor: pointer;
      }
    }
  }

  //@include media-breakpoint-up(sm) {
  //  .auth-container {
  //
  //    .auth-wrapper {
  //      .auth-form {
  //        min-width: calc(32rem);
  //      }
  //    }
  //  }
  //}

}


//$grid-breakpoints: (
//        xs: 0,
//        sm: 576px,
//        md: 768px,
//        lg: 992px,
//        xl: 1200px,
//        xxl: 1400px
//);


@mixin slideshow-styles {
  background-size: contain;
  //min-height: 100vh !important;
  background-repeat-x: no-repeat;
  background-repeat-y: repeat;
  animation: moveSlideshow 200s linear infinite;
  height: 5000px;
}