// Header
$header-config: (
  // Default Mode
        default:
        (
                height: (
                        desktop: 65px,
                        tablet-and-mobile: 55px,
                ),
        ),
  // Fixed Mode
        fixed:
        (
                height: (
                        desktop: 65px,
                        tablet-and-mobile: 55px,
                ),
                z-index: 100,
        )
) !default;

// Aside
$aside-config: (
        z-index: 101,
        // Aside's z-index property
        transition-speed: 0.3s,
        // transition speed
        padding-x: $_space-2,
        menu-indention: 0.75rem,
        bg-color: #1e1e2d,
        logo-bg-color: darken(#1e1e2d, 2%),
        scrollbar-color: $gray-200,
        scrollbar-hover-color: $gray-300,
        width: 240px,
        height: $_space-16,
        // Aside width for desktop mode
        minimized-width: 65px,
        // Aside minimized width for desktop mode
        box-shadow: 0 0 28px 0 rgba(82, 63, 105, 0.1),
        // Aside box shadow
        minimized-hover-box-shadow: 5px 0px 10px rgba(70, 78, 95, 0.125),
        // Monimized hover box shadow,,
) !default;

// Menu
$menu: (
        dropdown: (
                box-shadow: $dropdown-box-shadow,
                z-index: 105,
                background-color: $body-bg,
                border-radius: $border-radius,
                animation: true,
                animation-speed: 0.3s,
                animation-move-offset: 0.75rem,
        ),
        accordion: (
                indention: 1rem,
                arrow-transition: transform 0.3s ease,
        ),
        item: (
                self: (
                        padding-y: 0.15rem,
                        padding-x: 0,
                ),
        ),
        link: (
                self: (
                        padding-y: 0.65rem,
                        padding-x: 1rem,
                        bg-color: (
                                hover: 0px 0px 30px rgba(0, 0, 0, 0.3),
                                show: 0px 0px 30px rgba(0, 0, 0, 0.3),
                                active: rgba($gray-100, 0.8),
                        ),
                ),
                icon: (
                        width: 2rem,
                        space: 0.5rem,
                ),
                bullet: (
                        width: 1.25rem,
                        space: 0.5rem,
                ),
                badge: (
                        space: 0.5rem,
                ),
                arrow: (
                        height: 0.8rem,
                        width: 0.8rem,
                        space: 0.5rem,
                ),
        ),
) !default;

// Toolbar
$toolbar-config: (
        z-index: 99,
        height: (
                desktop: 75px,
                tablet-and-mobile: 60px,
        ),
        padding: 0.5rem,
        bg-color: $white,
        box-shadow: 0px 30px 30px 0px rgba(82, 63, 105, 0.05),
        border-top: 1px solid $colors-gray-400,
) !default;

// Content Spacing
$content-spacing: (
        desktop: 30px,
        // Padding for desktop mode
        tablet-and-mobile: 15px // Padding for tablet and mobile modes,,
) !default;

// Drawer
$drawer: (
        z-index: 110,
        // Drawer's z-index
        box-shadow:0px 0px 30px rgba(0, 0, 0, 0.1),
        // Drawer's box shadow
        bg-color: $body-bg,
        // Drawer's background color
        transition-speed: 0.3s,
        overlay-bg-color: rgba($black, 0.4),
        // Offcanvas overlay background color
        overlay-animation-speed: 0.3s,
) !default;