@mixin NavBarFixed($mode) {

  @include media-breakpoint-up(lg) {

    .navbar-fixed {
      background-color: $_colors-whiteAlpha-400;
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      padding: $_space-2 $_space-8;
      position: fixed;
      top: $_space-2;
      left: $_space-2;
      right: $_space-2;
      border-radius: $_space-2;
      z-index: 7;

      a {
        color: $black;
      }


      .parent {

        @include Grid(2, 1, 0, 0);

        .brand {
          img {
            width: $_space-12;
            height: $_space-12;
          }

          span {
            margin: 0 $_sizes-2;
          }
        }

        .child {
          //display: grid;
          //grid-template-columns: repeat(4, 1fr);
          //grid-template-rows: 1fr;
          //grid-column-gap: 0;
          //grid-row-gap: 0;
          @include Grid(4, 1, 0, 0);

          text-align: center;

          .item {
            display: flex;
            justify-content: center;
            align-items: center;

            &.svg-icon {
              display: none;

            }
          }
        }
      }
    }

    .navbar-fixed-wrapper {
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      padding: $_space-2 $_space-8;
      position: fixed;
      top: 0;
      right: 0;
      left: get($aside-config, width);
      z-index: 7;
      height: $_space-16;
      background-color: $_colors-whiteAlpha-700;
      display: flex;
      align-items: center;

      .symbol {
        display: inline-block;
        flex-shrink: 0;
        position: relative;
        border-radius: $_space-2;
        overflow: hidden;
        cursor: pointer;

        img {
          width: $_sizes-10;
          height: $_sizes-10;
        }
      }
    }

    &[data-kt-aside-minimize='on'] {
      .navbar-fixed-wrapper {
        left: get($aside-config, minimized-width);
      }
    }
  }

  @include media-breakpoint-down(lg) {

    .navbar-fixed {
      background-color: $_colors-whiteAlpha-400;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(30px);
      padding: 0 $_space-8;
      position: fixed;
      top: calc(-17.5rem);
      left: $_space-2;
      right: $_space-2;
      border-radius: $_space-2;
      z-index: 7;
      min-height: $_space-80;
      transition: all $_transition-duration-slow $_transition-easing-ease-in-out;

      a {
        color: $black;
        padding: $_space-3 $_space-4;
      }

      .parent {
        @include Grid(1, 1, $_space-2, $_space-2);

        .brand {
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: $_space-12;
            height: $_space-12;
          }

          span {
            margin: 0 $_sizes-2;
          }
        }

        .child {
          @include Grid(1, auto, $_space-2, $_space-2);
          align-items: center;
          justify-content: center;
          justify-items: center;

          .item {
            display: flex;
            justify-content: center;
            align-items: center;

            &.svg-icon {
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all $_transition-duration-slow $_transition-easing-ease-in-out;
              padding: $_space-2;

              @include svg-icon-size($_sizes-6);
              @include svg-icon-color($_colors-purple-900);
              @include svg-icon-transform(rotate, 90, deg);
            }
          }
        }
      }

      &.show {
        transition: all $_transition-duration-slow $_transition-easing-ease-in-out;
        top: $_space-2;

        .parent {

          .child {

            .item {

              &.svg-icon {
                transition: all $_transition-duration-slow $_transition-easing-ease-in-out;
                @include svg-icon-transform(rotate, -90, deg);
              }
            }
          }
        }
      }
    }

    .navbar-fixed-wrapper {
      left: 0;
    }

  }
}