@mixin asideMenu($mode) {
  .aside-menu {

    .menu {
      // Link padding x
      @include menu-link-padding-x(get($aside-config, padding-x));

    }

    // wrapper
    // Hover overflow overlay


    // Item
    .menu-item {
      display: block;

      .menu-sub {
        padding: 0;
        margin: 0;
        list-style: none;
        flex-direction: column;
        //display: none;
        max-height: 0;
        overflow: hidden;
        transition: .3s ease-in-out;

      }

      &.show {
        .menu-sub {
          transition: .3s ease-in-out;
          max-height: 30rem;

          .menu-link {
            padding-left: 2rem;
          }
        }
      }

      .menu-content {
        .menu-section {
          font-size: $_space-3;
        }
      }

      // Menu Link
      .menu-link {
        cursor: pointer;
        display: flex;
        align-items: center;
        flex: 0 0 100%;
        padding: get($menu, link, self, padding-y) get($menu, link, self, padding-x);
        transition: none;
        outline: none !important;

        &.active {
          background-color: $_colors-blackAlpha-50;

          .svg-icon svg [fill]:not(.permanent):not(g) {
            fill: $white;
          }

          .menu-icon {
            background: $linearGradient;
          }

          .menu-title {
            font-size: $_fontSizes-sm;
            color: $wildOrchid;
          }

          &:hover {
            .svg-icon svg [fill]:not(.permanent):not(g) {
              fill: $white;
            }
          }
        }

        &:hover {
          background-color: $_colors-blackAlpha-200;

          .svg-icon svg [fill]:not(.permanent):not(g) {
            fill: $deepFuchsia;
          }

          .menu-title {
            color: $wildOrchid;
          }
        }
      }

      // Icon
      .menu-icon {
        justify-content: center;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        width: get($menu, link, icon, width);
        height: get($menu, link, icon, width);
        margin-right: get($menu, link, icon, space);
        border-radius: 0.3rem;

        .svg-icon {
          line-height: 1;
          @include svg-icon-size(get($font-sizes, 5));
          @include svg-icon-color($colors-gray-500);
        }
      }

      // Title
      .menu-title {
        font-size: $_fontSizes-sm;
        color: $colors-gray-500;
        text-transform: capitalize;
      }

      .menu-bullet {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: get($menu, link, bullet, width);
        margin-right: get($menu, link, bullet, space);
      }
    }
  }

}

