$dark-gray-100: #0e0e0e !default;
$dark-gray-200: #171717 !default;
$dark-gray-300: #383838 !default;
$dark-gray-400: #4b4b4b !default;
$dark-gray-500: #656565 !default;
$dark-gray-600: #808080 !default;
$dark-gray-700: #a7a7a7 !default;
$dark-gray-800: #e0e0e0 !default;
$dark-gray-900: #ffffff !default;
$text-muted: $dark-gray-500 !default;

$dark-grays: (
        '100': $dark-gray-100,
        '200': $dark-gray-200,
        '300': $dark-gray-300,
        '400': $dark-gray-400,
        '500': $dark-gray-500,
        '600': $dark-gray-600,
        '700': $dark-gray-700,
        '800': $dark-gray-800,
        '900': $dark-gray-900,
) !default;

$slate-blue-100: #130b3e !default;
$slate-blue-200: #1a1053 !default;
$slate-blue-300: #261872 !default;
$slate-blue-400: #301f87 !default;
$slate-blue-500: #372599 !default;
$slate-blue-600: #432db1 !default;
$slate-blue-700: #4b33c1 !default;
$slate-blue-800: #5a3edc !default;
$slate-blue-900: #7153ff !default;

$slate-blue: (
        '100': $slate-blue-100,
        '200': $slate-blue-200,
        '300': $slate-blue-300,
        '400': $slate-blue-400,
        '500': $slate-blue-500,
        '600': $slate-blue-600,
        '700': $slate-blue-700,
        '800': $slate-blue-800,
        '900': $slate-blue-900,
) !default;


$dark-red-100: #2d0202 !default;
$dark-red-200: #380404 !default;
$dark-red-300: #4c0606 !default;
$dark-red-400: #5e0909 !default;
$dark-red-500: #790f0f !default;
$dark-red-600: #991c1c !default;
$dark-red-700: #b82929 !default;
$dark-red-800: #dc4444 !default;
$dark-red-900: #fd5f5f !default;

$slate-red: (
        '100': $dark-red-100,
        '200': $dark-red-200,
        '300': $dark-red-300,
        '400': $dark-red-400,
        '500': $dark-red-500,
        '600': $dark-red-600,
        '700': $dark-red-700,
        '800': $dark-red-800,
        '900': $dark-red-900,
) !default;



$dark-green-100: #0a2d02 !default;
$dark-green-200: #114705 !default;
$dark-green-300: #196108 !default;
$dark-green-400: #237d0e !default;
$dark-green-500: #2d9315 !default;
$dark-green-600: #37af1a !default;
$dark-green-700: #41c222 !default;
$dark-green-800: #4cd52b !default;
$dark-green-900: #63fa3f !default;

$slate-red: (
        '100': $dark-green-100,
        '200': $dark-green-200,
        '300': $dark-green-300,
        '400': $dark-green-400,
        '500': $dark-green-500,
        '600': $dark-green-600,
        '700': $dark-green-700,
        '800': $dark-green-800,
        '900': $dark-green-900,
) !default;

