$_sizes-1: calc(1rem * 0.25);
$_sizes-2: calc(1rem * 0.5);
$_sizes-3: calc(1rem * 0.75);
$_sizes-4: 1rem;
$_sizes-5: calc(1rem * 1.25);
$_sizes-6: calc(1rem * 1.5);
$_sizes-7: calc(1rem * 1.75);
$_sizes-8: calc(1rem * 2);
$_sizes-9: calc(1rem * 2.25);
$_sizes-10: calc(1rem * 2.5);
$_sizes-12: calc(1rem * 3);
$_sizes-14: calc(1rem * 3.5);
$_sizes-16: calc(1rem * 4);
$_sizes-20: calc(1rem * 5);
$_sizes-24: calc(1rem * 6);
$_sizes-28: calc(1rem * 7);
$_sizes-32: calc(1rem * 8);
$_sizes-36: calc(1rem * 9);
$_sizes-40: calc(1rem * 10);
$_sizes-44: calc(1rem * 11);
$_sizes-48: calc(1rem * 12);
$_sizes-52: calc(1rem * 13);
$_sizes-56: calc(1rem * 14);
$_sizes-60: calc(1rem * 15);
$_sizes-64: calc(1rem * 16);
$_sizes-72: calc(1rem * 18);
$_sizes-80: calc(1rem * 20);
$_sizes-96: calc(1rem * 24);
$_sizes-px: calc(1rem * 0.063);
$_sizes-0-5: calc(1rem * 0.125);
$_sizes-1-5: calc(1rem * 0.375);
$_sizes-2-5: calc(1rem * 0.625);
$_sizes-3-5: calc(1rem * 0.875);
$_sizes-max: max-content;
$_sizes-min: min-content;
$_sizes-full: 100%;
$_sizes-3xs: calc(1rem * 14);
$_sizes-2xs: calc(1rem * 16);
$_sizes-xs: calc(1rem * 20);
$_sizes-sm: calc(1rem * 24);
$_sizes-md: calc(1rem * 28);
$_sizes-lg: calc(1rem * 32);
$_sizes-xl: calc(1rem * 36);
$_sizes-2xl: calc(1rem * 42);
$_sizes-3xl: calc(1rem * 48);
$_sizes-4xl: calc(1rem * 56);
$_sizes-5xl: calc(1rem * 64);
$_sizes-6xl: calc(1rem * 72);
$_sizes-7xl: calc(1rem * 80);
$_sizes-8xl: calc(1rem * 90);
$_sizes-prose: 60ch;
$_sizes-container-sm: calc(1rem * 40);
$_sizes-container-md: calc(1rem * 48);
$_sizes-container-lg: calc(1rem * 64);
$_sizes-container-xl: calc(1rem * 80);

$sizing: (
        "1": $_sizes-1,
        "2": $_sizes-2,
        "3": $_sizes-3,
        "4": $_sizes-4,
        "5": $_sizes-5,
        "6": $_sizes-6,
        "7": $_sizes-7,
        "8": $_sizes-8,
        "9": $_sizes-9,
        "10": $_sizes-10,
        "12": $_sizes-12,
        "14": $_sizes-14,
        "16": $_sizes-16,
        "20": $_sizes-20,
        "24": $_sizes-24,
        "28": $_sizes-28,
        "32": $_sizes-32,
        "36": $_sizes-36,
        "40": $_sizes-40,
        "44": $_sizes-44,
        "48": $_sizes-48,
        "52": $_sizes-52,
        "56": $_sizes-56,
        "60": $_sizes-60,
        "64": $_sizes-64,
        "72": $_sizes-72,
        "80": $_sizes-80,
        "96": $_sizes-96,
        "px": $_sizes-px,
        "0-5": $_sizes-0-5,
        "1-5": $_sizes-1-5,
        "2-5": $_sizes-2-5,
        "3-5": $_sizes-3-5,
        "max": $_sizes-max,
        "min": $_sizes-min,
        "full": $_sizes-full,
        "3xs": $_sizes-3xs,
        "2xs": $_sizes-2xs,
        "xs": $_sizes-xs,
        "sm": $_sizes-sm,
        "md": $_sizes-md,
        "lg": $_sizes-lg,
        "xl": $_sizes-xl,
        "2xl": $_sizes-2xl,
        "3xl": $_sizes-3xl,
        "4xl": $_sizes-4xl,
        "5xl": $_sizes-5xl,
        "6xl": $_sizes-6xl,
        "7xl": $_sizes-7xl,
        "8xl": $_sizes-8xl,
        "prose": $_sizes-prose,
        "container-sm": $_sizes-container-sm,
        "container-md": $_sizes-container-md,
        "container-lg": $_sizes-container-lg,
        "container-xl": $_sizes-container-xl,
) !default;
