@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Gugi');
@import "variables";
@import "functions";
@import "mixin";
@import "theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-property: $_transition-property-common;
  transition-duration: $_transition-duration-normal;
  outline: none;
  text-decoration: none !important;
  font-family: "Gugi", Open Sans;
}
button {
  background: transparent;
  padding: 0;
  outline: 0;
  border: none;
}

body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

body.dark {
  background-color: $black;
  @import "theme/dark/dark";
}

body.light {
  background-color: $bg-light;
  @import "theme/light/light";
  .landing {
    background-color: #151718;
    padding-top: 5rem;
    overflow: hidden;
  }
}