@mixin infos($mode) {
  .auth-info {
    border: 1px solid;
    padding: $_space-2;
    margin-bottom: $_space-4;
    border-radius: $_radii-base;
    @include typography(
                    if(isDarkMode($mode), $_colors-whatsapp-400, $_colors-whatsapp-600),
                    $_fontSizes-xs,
                    400,
                    1.2
    );
  }

  @include media-breakpoint-down(sm) {
    .auth-info {
      margin-bottom: $_space-2;
      border-radius: $_radii-base;
      @include typography(
                      if(isDarkMode($mode), $_colors-whatsapp-400, $_colors-whatsapp-600),
                      $_fontSizes-xs,
                      400,
                      0.5
      );
    }
  }
}