@mixin separator($mode) {
  ._separator-or {
    position: relative;
    width: $_sizes-full;
    margin-top: $_space-1;
    margin-bottom: $_space-1;
  }
  ._separator-or ._separator-hr {
    opacity: 0.6;
    border-width: 0 0 1px;
    border-image: initial;
    border-style: solid;
    width: 100%;
    border-color: if(isDarkMode($mode), $_colors-whiteAlpha-300, $_colors-blackAlpha-300);
  }
  ._separator-or ._separator-div {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $_sizes-8;
    height: $_sizes-8;
    border-radius: 999rem;
    background-color: $white;
    border: 1px solid if(isDarkMode($mode), $_colors-whiteAlpha-300, $_colors-blackAlpha-300);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1;
  }
  ._separator-or ._separator-p {
    font-size: $_sizes-2-5;
    font-weight: 500;
    line-height: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: if(isDarkMode($mode), $colors-gray-100, $colors-gray-900);
  }
}