@mixin AccordionContainer($mode) {
  .accordion-container {

    margin: $_space-20 0;

    .accordion-wrapper {
      border-radius: $_space-4;

      .accordion-item {

        overflow: hidden;
        background-color: #212121;
        border-radius: $_space-6;
        margin-bottom: $_space-4;

        .header {

          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: $_space-4;
          cursor: pointer;
          transition: all $_transition-duration-ultra-fast $_transition-easing-ease-in;

          .title {
          }

          .svg-icon {
            display: flex;
            @include svg-icon-size($_sizes-4);
            @include svg-icon-color($_colors-purple-300);
            @include svg-icon-transform(rotate, 90, deg);
          }

          &:hover {
            background-color: $_colors-blackAlpha-300;

            .svg-icon {
              @include svg-icon-color($_colors-purple-500);
            }

          }
        }

        .content {
          max-height: 0;
          overflow: hidden;
          transition: all $_transition-duration-normal $_transition-easing-ease-in;

          .description {
            padding: $_space-4 $_space-8;
          }
        }

        // accordion active
        &.active {

          .header {
            background-color: $_colors-blackAlpha-100;
            transition: all $_transition-duration-ultra-fast $_transition-easing-ease-in;

            .svg-icon {
              display: flex;
              @include svg-icon-transform(rotate, -90, deg);
            }
          }

          .content {
            height: auto;
            max-height: 30rem;
            transition: all $_transition-duration-normal $_transition-easing-ease-in;
          }
        }
      }

    }
  }

  @include media-breakpoint-down(sm) {
    .accordion-container {
      margin: $_space-8 0;

      .accordion-wrapper {
        border-radius: $_space-2;

        .accordion-item {

          border-radius: $_space-4;
          margin-bottom: $_space-3;

          .header {

            padding: $_space-4;

            .title {
              font-size: $_fontSizes-xs;
            }
          }

          .content {
            .description {
              padding: $_space-4;
              font-size: $_fontSizes-sm;
            }
          }

        }

      }

    }
  }
}