@mixin tab($mode) {
  .tab-container {

    margin: $_space-40 0;

    .tab-menu {

      margin-bottom: $_space-12;
      @include Grid(4, 1, $_space-5, $_space-5);


      .tab-item {
        padding: $_space-4;
        text-align: center;
        cursor: pointer;
        background-color: #212121;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.6;
        filter: blur(.04rem);

        @include svg-icon-size($_sizes-6);
        @include svg-icon-color($_colors-pink-600);

        .tab-title {
          @include typography(
                          $white,
                          $_fontSizes-xl,
                          400,
                          $_lineHeights-1
          );
          margin-left: $_space-2;
          text-transform: capitalize;
        }

        &:hover {

          opacity: 1;
          filter: blur(0);

          @include svg-icon-color($_colors-pink-400);

          .tab-title {
            color: $_colors-whiteAlpha-900;
          }
        }

        &.tab-open {
          opacity: 1;
          filter: blur(0);
          border: 1px solid $_colors-whiteAlpha-500;

          .tab-title {
            color: $_colors-whiteAlpha-900,
          }
        }
      }
    }

    .tab-block {
      margin-bottom: $_space-6;
      border-radius: $_space-6;
      overflow: hidden;
      background: #212121;
      min-height: $_space-80;

      .tab-block-left {

        padding-top: $_space-14;
        padding-bottom: $_space-14;
        padding-left: $_space-14;

        .tab-block-title {
          @include typography(
                          $_colors-whiteAlpha-400,
                          $_fontSizes-md,
                          400,
                          $_lineHeights-2
          );
        }

        .tab-block-sub-title {
          @include typography(
                          $white,
                          $_fontSizes-2xl,
                          500,
                          $_lineHeights-10
          );
        }

        .tab-sub-description {
          @include typography(
                          $colors-gray-500,
                          $_fontSizes-xl,
                          400,
                          $_lineHeights-7
          );
        }
      }

      .tab-block-right {
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .tab-container {

      margin: $_space-4 0;

      .tab-menu {

        margin: $_space-4 0;
        @include Grid(2, 1, $_space-3, $_space-3);


        .tab-item {
          padding: $_space-2;
          border-radius: $_space-2;

          @include svg-icon-size($_sizes-5);

          .tab-title {
            @include typography(
                            $white,
                            $_fontSizes-xs,
                            400,
                            $_lineHeights-1
            );
          }
        }
      }

      .tab-block {
        margin: $_space-4 0;
        border-radius: $_space-4;

        .tab-block-left {

          padding: $_space-4;

          .tab-block-sub-title {
            @include typography(
                            $_colors-whiteAlpha-800,
                            $_fontSizes-md,
                            500,
                            $_lineHeights-10
            );
          }

          .tab-sub-description {
            @include typography(
                            $colors-gray-500,
                            $_fontSizes-sm,
                            400,
                            $_lineHeights-5
            );
          }
        }

        .tab-block-right {
          min-height: $_sizes-52;
        }

      }
    }
  }
}