@mixin tab($mode) {
  .tab-container {
    .tab-menu {

      margin-bottom: $_space-6;
      border-bottom: .5px solid $_colors-blackAlpha-500;

      .tab-title {
        padding: $_space-4;
        text-align: center;
        cursor: pointer;

        span {
          @include typography(
                          if(isDarkMode($mode), $white, $black),
                          $_fontSizes-xl,
                          600,
                          $_lineHeights-1
          );
        }

        &:hover {
          background: radial-gradient(80.23% 80.23% at 50% 88.37%, rgba(174, 78, 245, 0.22) 0%, rgba(174, 78, 245, 0.22) 0.01%, rgba(174, 78, 245, 0) 100%);
          span {
            color: #AE4EF5;

          }
        }

        &.tab-open {
          background: radial-gradient(
                          80.23% 80.23% at 50% 88.37%,
                          rgba(174, 78, 245, 0.22) 0%,
                          rgba(174, 78, 245, 0.22) 0.01%,
                          rgba(174, 78, 245, 0) 100%
          );
          border-bottom: 2px solid;
          border-image-source: $linearGradient;
          border-image-slice: 1;
        }

        &.tab-open span {
          color: if(isDarkMode($mode), $white, $black),
        }
      }
    }

    .tab-block {

      margin-bottom: $_space-12;
      .tab-block-left {

        padding: $_space-16 0;
        .tab-block-title {
          @include typography(
                          $_colors-whiteAlpha-400,
                          $_fontSizes-md,
                          400,
                          $_lineHeights-2
          );
        }

        .tab-block-sub-title {
          @include typography(
                          if(isDarkMode($mode), $_colors-whiteAlpha-800, $_colors-blackAlpha-900),
                          $_fontSizes-2xl,
                          500,
                          $_lineHeights-10
          );
        }

        .tab-sub-description {
          @include typography(
                          $colors-gray-500,
                          $_fontSizes-xl,
                          400,
                          $_lineHeights-7
          );
        }
      }

      .tab-block-right {
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}